.aboutMePage {
  min-height: calc(100vh - 60px);
}
.Me {
  display: grid;
  width: 100%;
  grid-template-areas: "left right";
  grid-template-columns: repeat(auto-fit, 300px 40%);
  grid-template-rows: 400px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 70px;
  gap: 30px;
}
.g-left {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: left;
}
.g-right {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: right;
  border-left: 1px solid;
  border-color: #557a95;
  padding: 20px;
}
.abtme-img {
  padding-top: 15px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.detail-list {
  width: 90%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.detail-list {
  list-style: none;
}
.background {
  margin: 0 auto;
  justify-content: center;
  position: relative;
  width: 90%;
  display: grid;
  grid-template-areas: "left1 middle1 right1";
  grid-template-columns: repeat(auto-fit, 25% 25% 25%);
  grid-template-rows: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 30px;
  text-align: center;
}
.background .g-l {
  list-style: none;
  position: relative;
  width: 90%;
  height: 90%;
  grid-area: left1;
  border-right: 1px solid;
  border-left: 1px solid;
  border-radius: 25px;
  border-color: #557a95;
}
h4 {
  margin-bottom: 4px;
  padding-bottom: 0px;
}
.background .g-r {
  list-style: none;
  position: relative;
  width: 90%;
  height: 90%;
  grid-area: right1;
  border-left: 1px solid;
  border-right: 1px solid;
  border-radius: 25px;
  border-color: #557a95;
}
.background .g-m {
  list-style: none;
  position: relative;
  width: 90%;
  height: 90%;
  grid-area: middle1;
  border-right: 1px solid;
  border-left: 1px solid;
  border-radius: 25px;
  border-color: #557a95;
}
.more-links {
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #557a95;
  padding-top: 0px;
  padding-bottom: 10px;
  text-align: center;
}
.resume-link {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 960px) {
  .abtme-img {
    display: block;
    padding-top: 15px;
    object-fit: cover;
    width: 50%;
    height: 50%;
    margin: 0 auto;
  }
  .aboutMePage {
    max-width: 100vw;
  }
  .Me {
    display: block;
    margin: 0 auto;
  }
  .g-right {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-left: none;
    margin: 0 auto;
  }
  .g-left {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  .background {
    display: block;
    margin: 0 auto;
    width: 80%;
    grid-template-rows: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;
  }
  .g-r {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 10px;
  }
  .g-m {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 10px;
  }
  .g-l {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 10px;
  }
}
