.container {
  min-height: calc(100vh - 170px);
  align-items: center;
  display: grid;
  text-align: center;
}
.typewriter {
  align-items: center;
  text-align: center;
  color: #5c7083;
  max-width: 85vw;
}
