.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 1000;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1000;
  box-shadow: 2px 4px 8px 2px rgba(10, 10, 10, 0.692);
  padding: 40px;
  border-radius: 5px;
  width: 70%;
  height: fit-content;
  max-height: 90vh;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 25px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  cursor: pointer;
  color: #000;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
}
.mInfo {
  width: 69vw;
  height: fit-content;
}
.container1 {
  height: 19%;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  background: #fff;
  border-radius: 4px;
  border-bottom: 1px solid #999;
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: repeat(auto-fit, 90% 4%);
  background-color: transparent;
}
.R {
  display: flex;
  align-items: flex-end;
}
.L {
  display: flex;
  align-items: flex-end;
}
.Project {
  /* height: 10%; */
  max-width: 100%;
  top: 0cm;
  grid-template-rows: 400px;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 5px;
  gap: 5px;
  text-align: center;
}
.gright {
  max-width: 90%;
  text-align: center;
  position: relative;
  height: fit-content;
  grid-area: right;
}
.ProDetails {
  height: 10%;
  display: grid;
  grid-template-areas:
    "left1   right1"
    "left2   right2"
    "left3   right3";
  grid-template-columns: repeat(auto-fit, 30% 50%);
  justify-content: center;
}
.gright1 {
  grid-area: right1;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
  justify-content: right;
  gap: 30px;
}
.gleft1 {
  grid-area: left1;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: 10px;
}
.gright2 {
  grid-area: left2;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: 10px;
}
.gleft2 {
  grid-area: right2;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right;
  justify-content: right;
  gap: 10px;
}
.gright3 {
  grid-area: right3;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right;
  justify-content: right;
  gap: 10px;
}
.gleft3 {
  grid-area: left3;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: 10px;
}
@media screen and (max-width: 700px) {
  .container1 {
    grid-template-columns: repeat(auto-fit, 80% 4%);
  }
}
@media screen and (max-width: 600px) {
  .ProDetails {
    display: block;
    text-align: center;
    position: relative;
  }
  .gright1 {
    text-align: center;
  }
  .gleft2 {
    text-align: center;
  }
  .gright3 {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .container1 {
    grid-template-columns: repeat(auto-fit, 74% 4%);
  }
}
@media screen and (max-width: 400px) {
  .container1 {
    grid-template-columns: repeat(auto-fit, 75% 4%);
  }
}
