.footer {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  max-width: 100%;
  left: 0;
  bottom: 0;
}

.footer-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 65% 35%);
  grid-template-areas: "left right";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.footer-logo {
  position: absolute;
  grid-area: left;
  color: black;
  justify-self: start;
  margin-left: 0px;
  margin-top: 12px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  bottom: 1;
  left: 0;
  transform: translate(10%, 50%);
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.foot-menu {
  position: absolute;
  grid-area: right;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 8px;
  list-style: none;
  justify-content: right;
  margin-top: 2rem;
  width: 50vw;
  margin-right: -42%;
}

.foot-item {
  height: 100%;
}

.foot-img {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.3rem 0.8rem;
  height: 75%;
  opacity: 0.5;
}

.foot-img:hover {
  transition: all 0.2s ease-out;
  opacity: 1;
}

.foot-bars {
  color: #fff;
}

.foot-icon {
  display: none;
  position: absolute;
}
.foot-m {
  display: none;
}

@media screen and (max-width: 960px) {
  .foot-link:visited {
    color: rgb(0, 0, 0);
  }
  .foot-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .foot-m {
    display: grid;
    grid-template-columns: repeat(1, auto);
    list-style: none;
    text-align: center;
    gap: 10px;
  }
  .foot-menu {
    display: none;
  }
  .footer-logo {
    grid-area: bottom;
    position: relative;
    display: none;
  }
  .foot-links2 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
  }
}
